In [4]:
import pandas as pd
from pandas import read_csv
import numpy as np
import matplotlib.pyplot as plt

In [5]:
filename='Drug.csv'
data=read_csv(filename)
data.head()

                                                Drug Disease Gender  Age
0               A CN Gel(Topical) 20gmA CN Soap 75gm    Acne   Male   23
1  A Ret 0.05% Gel 20gmA Ret 0.1% Gel 20gmA Ret 0...    Acne   Male   23
2                             ACGEL CL NANO Gel 15gm    Acne   Male   23
3                                ACGEL NANO Gel 15gm    Acne   Male   23
4                              Acleen 1% Lotion 25ml    Acne   Male   23

In [6]:
data.dtypes

Drug       object
Disease    object
Gender     object
Age         int64
dtype: object

In [7]:
data.shape

(4955, 4)

In [8]:
data.isnull().sum()

Drug       0
Disease    0
Gender     0
Age        0
dtype: int64

In [9]:
data.replace({'Gender':{'Female':0,'Male':1}},inplace=True)

In [10]:
x=data[['Disease']]

In [11]:
x.Disease.unique()

array(['Acne', 'Allergy', 'Diabetes', 'Fungal infection',
       'Urinary tract infection', 'Malaria', 'Migraine', 'Hepatitis B',
       'AIDS'], dtype=object)

In [12]:
data.replace({'Disease':{'Acne':0, 'Allergy':1, 'Diabetes':2, 'Fungal infection':3,
       'Urinary tract infection':4, 'Malaria':5, 'Migraine':6, 'Hepatitis B':7,
       'AIDS':8}},inplace=True)

In [13]:
data.head()

                                                Drug  Disease  Gender  Age
0               A CN Gel(Topical) 20gmA CN Soap 75gm        0       1   23
1  A Ret 0.05% Gel 20gmA Ret 0.1% Gel 20gmA Ret 0...        0       1   23
2                             ACGEL CL NANO Gel 15gm        0       1   23
3                                ACGEL NANO Gel 15gm        0       1   23
4                              Acleen 1% Lotion 25ml        0       1   23

In [14]:
data.dtypes

Drug       object
Disease     int64
Gender      int64
Age         int64
dtype: object

In [15]:
# Fitting the model
df_x=data[['Disease','Gender','Age']]
df_y=data[['Drug']]

In [16]:
df_x.head()

   Disease  Gender  Age
0        0       1   23
1        0       1   23
2        0       1   23
3        0       1   23
4        0       1   23

In [17]:
df_y.head()

                                                Drug
0               A CN Gel(Topical) 20gmA CN Soap 75gm
1  A Ret 0.05% Gel 20gmA Ret 0.1% Gel 20gmA Ret 0...
2                             ACGEL CL NANO Gel 15gm
3                                ACGEL NANO Gel 15gm
4                              Acleen 1% Lotion 25ml

In [18]:
# Train Test Split
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(df_x,df_y,test_size=0.2,random_state=0)

In [19]:
X_train.head()

      Disease  Gender  Age
2150        2       1   23
167         0       0   20
3188        2       0   23
844         1       0   23
4129        3       0   37

In [20]:
y_train.head()

                                                   Drug
2150  Glycinorm Total 30mg Tablet 10'SGlycinorm Tota...
167                             Dersol BH Ointment 30gm
3188            Wosulin New 30/70 100IU Cartridge 3X3ml
844                              Lejet M JR Tablet 10'S
4129  Zocon 50mg Tablet 4'SZocon Transgel 15gmZocon ...

In [21]:
# Fitting Random Forest
from sklearn.ensemble import RandomForestClassifier
rf= RandomForestClassifier()
rf=rf.fit(df_x,np.ravel(df_y))

In [22]:
# Model Accuracy
from sklearn.metrics import accuracy_score
y_pred=rf.predict(X_test)
print(accuracy_score(y_test,y_pred))
print(accuracy_score(y_test,y_pred,normalize=False))

0.034308779011099896
34

In [23]:
rf.score(X_test,y_test)

0.034308779011099896

In [22]:
y_test.head()

                                                   Drug
2540  Metofix XL 500mg Tablet 10'SMetofix XL 1000mg ...
446                               ALL 3 5mg Tablet 10'S
4771  Lamivir 30mg Capsule 30'SLamivir 300mg Solutio...
541            Cetcip 10mg Tablet 10'SCetcip Syrup 30ml
1270   Acarcip 25mg Tablet 10'SAcarcip 50mg Tablet 10'S

In [23]:
prediction=rf.predict(X_test)
print(prediction[0:10])

["Mignar 25mg Tablet 15'SMignar 50mg Tablet 10'SMignar 25mg Tablet 10'SMignar 50mg Tablet 15'S"
 "ALL 3 5mg Tablet 10'S" "Hepcdac 60mg Tablet 28'S" 'Levozin Syrup 30ml'
 "Mignar 25mg Tablet 15'SMignar 50mg Tablet 10'SMignar 25mg Tablet 10'SMignar 50mg Tablet 15'S"
 'Ketoven Cream 30gm' "Hepcdac 60mg Tablet 28'S"
 "Lumerax DT 20mg Tablet 6'S" "Lumerax DT 20mg Tablet 6'S"
 "Hepcdac 60mg Tablet 28'S"]

In [26]:
test=[5,1,24]
test=np.array(test)
print(test.shape)
test=np.array(test).reshape(1,-1)
print(test.shape)

(3,)
(1, 3)

In [27]:
prediction=rf.predict(test)
print(prediction[0])

Combither Forte 80/480mg Tablet 6'S

c:\users\abhin\appdata\local\programs\python\python39\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(

In [28]:
import joblib as joblib
joblib.dump(rf,"Saved_model/drug_pred.pkl")

['Saved_model/drug_pred.pkl']